# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
city_data = pd.read_csv("output_data/cities.csv")
city_data.head()

,City_ID,City,Country,Date,Longitude,Latitude,Max Temperature,Humidity,Cloudiness,Wind speed
0,0,souillac,MU,1584846666,57.52,-20.52,75.00,88,75,2.24
1,1,avera,US,1584846667,-82.53,33.19,71.60,56,1,6.93
2,2,leningradskiy,RU,1584846667,178.42,69.38,1.15,77,100,5.48
3,3,iqaluit,CA,1584846667,-68.51,63.75,-9.00,69,75,9.17
4,4,albany,US,1584846302,-73.97,42.60,32.00,39,1,10.29

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
humidity = city_data["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = city_data[["Latitude", "Longitude"]]

In [13]:
heat_figure = gmaps.figure()
heat_visual = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
heat_figure.add_layer(heat_visual)

heat_figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
narrow_cities_df = city_data.loc[(city_data["Max Temperature"] > 70) & (city_data["Max Temperature"] < 80) & (city_data["Cloudiness"] == 0), :]
narrow_cities_df = narrow_cities_df.dropna(how='any')
narrow_cities_df.reset_index(inplace=True)
del narrow_cities_df['index']
narrow_cities_df.head()

,City_ID,City,Country,Date,Longitude,Latitude,Max Temperature,Humidity,Cloudiness,Wind speed
0,27,champerico,GT,1584846670,-91.92,14.30,77.83,78,0,1.34
1,41,busselton,AU,1584846672,115.33,-33.65,75.99,38,0,14.90
2,54,dawei,MM,1584846674,98.20,14.08,79.63,70,0,4.43
3,97,panama city,PA,1584846680,-79.52,8.99,78.80,74,0,5.82
4,168,mercedes,AR,1584846588,-59.43,-34.65,71.01,91,0,7.54

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
name_hotel = []
for i in range(len(narrow_cities_df)):
    lat = narrow_cities_df.loc[i]['Latitude']
    lng = narrow_cities_df.loc[i]['Longitude']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        name_hotel.append(jsn['results'][0]['name'])
    except:
        name_hotel.append("")
narrow_cities_df["Hotel Name"] = name_hotel
narrow_cities_df = narrow_cities_df.dropna(how='any')
narrow_cities_df.head()

,City_ID,City,Country,Date,Longitude,Latitude,Max Temperature,Humidity,Cloudiness,Wind speed,Hotel Name
0,27,champerico,GT,1584846670,-91.92,14.30,77.83,78,0,1.34,Champerico
1,41,busselton,AU,1584846672,115.33,-33.65,75.99,38,0,14.90,Busselton
2,54,dawei,MM,1584846674,98.20,14.08,79.63,70,0,4.43,Dawei
3,97,panama city,PA,1584846680,-79.52,8.99,78.80,74,0,5.82,Panama City
4,168,mercedes,AR,1584846588,-59.43,-34.65,71.01,91,0,7.54,Mercedes

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrow_cities_df.iterrows()]
locations = narrow_cities_df[["Latitude", "Longitude"]]

In [19]:
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

NameError: name 'fig' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map